<div id="tv">
           
  <div *ngFor="let st of showTime" class="sections">
    
    <figure>
      <img [src]='st?.image'>
    </figure>


    <section class="title">
        <span>{{st.name}}({{st.network}})</span><br>
        <span>
          <strong><span>Language:</span></strong>
          {{st.language}}</span><br>
        <span>
          <strong><span class="Genres"> Genre:</span></strong>
           {{st.genres}}</span><br>
        <span>
            <strong><span class="Sum"> Synopsis:</span></strong>
          {{st.summary}}</span>
    </section>
    
  </div> 

</div>
